/* ABOUT ME */

#about-me {
}

.about-section {
  height: 100%;
  width: 28%;
  margin: 0 .75%;
  display: inline-block;
  vertical-align: top;
}

.about-section-pic-container {
  height: 60%;
}

.about-section-pic-credit {
  position: relative;
  height: 10%;
  font-family: 'Teko', sans-serif;
  font-size: 12px;
  text-align: right;
  width: 70%;
  margin: 0 auto;
  color: #999;
}

.about-section-pic {
  position: relative;
	height: 115px;
}

.about-section-caption {
  height: 40%;
  color: #777;
  font-family: 'Teko', sans-serif;
  font-size: 1.62em;
  font-weight: lighter;
  padding: 1% 10%;
}

@media (max-width: 800px){
	.about-section {
	    width: 100%;
			margin: 2% 0;
		}

	.about-section-caption {
		padding: 0 20%;
	}
}


svg {
  fill: #555;
}
