/* ABOUT ME */

#about-me {
}

.about-section {
  height: 100%;
  width: 28%;
  display: inline-block;
  vertical-align: top;
}

.about-section-pic-container {
  height: 60%;
}

.about-section-pic {
  position: relative;
	height: 115px;
}

.about-section-caption {
  height: 40%;
  color: #777;
  font-size: calc(18px + 0.3vw + .2vh);
  font-weight: lighter;
  padding: 2% 5%;
  font-family: 'Khand', sans-serif;
}

@media (max-width: 700px){
	.about-section {
	    width: 100%;
			margin: 2% 0;
		}

  .about-section-pic {
    position: relative;
  	height: 100px;
  }

	.about-section-caption {
		padding: 1% 25%;
	}
}

@media only screen {
  .about-section {
	    width: 100%;
			margin: 2% 0;
		}

  .about-section-pic {
    position: relative;
  	height: 100px;
  }

	.about-section-caption {
		padding: 1% 25%;
	}
}


svg {
  fill: rgba(0,0,0,0.5);
}
