/* ABOUT ME */

#about-me {
	min-height: 400px;
	padding-bottom: 10px;
}

.about-section-container {
  width: 100%;
  height: calc(400px - 4em - 100px);
  text-align: center;
}
.about-section {
  height: 100%;
  width: 28%;
  margin: 0 .75%;
  display: inline-block;
  vertical-align: top;
}

.about-section-pic-container {
  height: 60%;
}

.about-section-pic-credit {
  position: relative;
  height: 10%;
  font-family: 'Teko', sans-serif;
  font-size: 12px;
  text-align: right;
  width: 70%;
  margin: 0 auto;
  color: #999;
}

.about-section-pic {
  position: relative;
  height: 80%;
}

.about-section-caption {
  height: 40%;
  color: #777;
  font-family: 'Teko', sans-serif;
  font-size: 1.65em;
  font-weight: lighter;
  padding: 0 10%;
}

svg {
  fill: #666;
}
