
/* CONNECT */

#connect {
	border-bottom: none;
}

.connect-icons-row {
	padding-top: 2%;
  height: calc(61px + 2%);
  margin-bottom: 0;
}

.connect-icons {
	text-align: center;
}

.connect-link {
	text-decoration: none !important;
}

.connect-icon {
	color: #666;
	font-size: 3.5em !important;
	padding: 0 2.5%;
}

i: hover {
	color: green;
}
