
/*
 * EXPERIENCE.HTML
 */

#experience {
	font-family: 'Teko', sans-serif;
}

.experience-section {
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.experience-section-pic-container {
  height: 20%;
}

.experience-section-pic {
  height: 120px;
  border-radius: 50%;
  border-width: 4px;
  border-color: lightgray;
  border-style: outset;
}

.experience-section-title {
  height: 25%;
  font-size: calc(16px + 1.5vw + 1vh);
  color: #48bbfc;
}

.experience-section-caption {
  height: 55%;
  color: #888;
  font-size: calc(12px + 1vw + 0.5vh);
  font-weight: lighter;
  padding: 0 10%;
  transform: translatey(-10px);
  line-height: calc(12px + 1.20vw + .70vh);
  white-space: nowrap;
}
