
/* home */
#home {
	position: relative;
	height: calc(100vh - 75px);
	padding: 30vh 0;
	color: white;
}

#home-text {
	position: relative;
	height: 200px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.home-header {
	color: white;
	font-size: calc(40px + 4vw + 3vh);
	padding: 10px;
	white-space: nowrap;
}

.home-description{
	margin: 0;
	transform: translateY(-25px);
	padding-left: 10px;
	font-family: 'Pathway Gothic One', sans-serif;
	/*font-size: 1.8em;*/
	white-space: nowrap;
	font-size: calc(16px + 0.75vw + 0.5vh);
}

#home-landing {
	height: 55px;
	top: 0;
}

/* ----------- iPhone 5 and 5S ----------- */

	/* Portrait and Landscape */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2) {
				#home {
					height: calc(100vh - 75px);
					padding: 35% 0;
				}

	 			.home-header {
					font-size: calc(40px + 4vw + 4vh);
				}

				.home-description{
					transform: translateY(-25px);
					padding-left: 0px;
					font-size: calc(16px + 0.7vw + .9vh);
				}
		}

	/* Portrait */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {
		}

	/* Landscape */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
				#home {
					padding: 10vh 0;
				}
		}

/* ----------- iPhone 6 ----------- */

  /* Portrait and Landscape */
    @media only screen and (min-device-width: 375px)
      and (max-device-width: 667px)
      and (-webkit-min-device-pixel-ratio: 2) {
    }

		/* Portrait */
		@media only screen
		  and (min-device-width: 375px)
		  and (max-device-width: 667px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {

		}
