/*
 * ALL
 */
html, body {
	height: 100%;
	width: 100%;
	display: block;
	margin: 0;
	background: white;
}

*:focus {
	outline: none !important;
}

#content {
	position: relative;
	width: 100%;
}

section {
	width: 100%;
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	outline: none;
}

.section-header {
	font-family: 'Teko', sans-serif;
	font-weight: bold;
	font-size: 4em;
	margin: 0;
	color: #48bbfc;
	padding: 15px 0;
}
/*
.text-header {
	font-family: 'Teko', sans-serif;
	font-weight: bold;
	font-size: 2.4em;
	margin: 0;
	color: #666;
}*/

.info-section-container {
	margin: 0;
	background-color: white;
	border-top: 10px solid #cdecfe;
	border-bottom: 10px solid #cdecfe;
	overflow: auto;
	padding-bottom: 15px;
}

.info-section {
	  width: 100%;
	  text-align: center;
}

.cs-header {
	color: grey;
}

/*
 * ROW STYLING
 */
 .row {
 	height: 50px;
 	font-size: 1.25em;
   text-align: left;
   margin-bottom: 30px;
 }

 .row-header {
   text-align: center;
   margin-bottom: 0;
 }

 .text {
   height: 100%;
 	color: #777;
   border-left: 3px solid skyblue;
 }

/*
 * TRANSITION/LANDING
 */
 .transition {
	margin: 0;
	height: 75px;
	background:
		url("../img/background.jpg")
		no-repeat
		fixed
		center
		0px / cover
		transparent;
}

/*
 * NAVIGATION BAR
 */
#page-nav {
	position: fixed;
	background: white;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 1;
	min-height: 55px;
}

.nav-li {
	width: 20%;
	border-bottom: 5px solid #cdecfe;
	color:  #48bbfc;
	font-size: calc(14px + .5vw + .5vh);
	font-family: 'Pathway Gothic One', sans-serif;
	white-space: nowrap;
	min-height: 55px;
}

.nav-a:focus, .nav-a:hover {
	background-color: transparent !important;
	color: #48bbfc;
	border: 1px solid transparent;
	border-color: transparent !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	background-color: transparent !important;
	color: #48bbfc !important;
	border-right: none !important;
	border-left: none !important;
	border-top: none !important;
}

.nav-tabs>li.active {
	margin-top: 1px;
}

/*
 * UNDER CONSTRUCTIN PLACEHOLDER
 */
.under-construction {
	font-family: 'Teko', sans-serif;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	padding: 10px 0;
	margin: 0;
	color: white;
}
