/*   ALL   */
html, body {
	height: 100%;
	width: 100%;
	display: block;
	margin: 0;
	background: white;
}

#content {
	position: relative;
	width: 100%;
}

section {
	width: 100%;
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

.section-header {
	font-family: 'Teko', sans-serif;
	font-weight: bold;
	font-size: 4em;
	margin: 0;
	color: #48bbfc;
	padding: 15px 0;
}

.text-header {
	font-family: 'Teko', sans-serif;
	font-weight: bold;
	font-size: 2.4em;
	margin: 0;
	color: #666;
}

.info-section {
	margin: 0;
	background-color: white;
	border-top: 10px solid #cdecfe;
	border-bottom: 10px solid #cdecfe;
}


.cs-header {
	color: grey;
}

/* TRANSITION */
.transition {
	margin: 0;
	height: 97px;
	background:
		url("http://i.imgur.com/RjoHlqP.jpg")
		no-repeat
		fixed
		center
		0px / cover
		transparent;
}

/* NAVIGATION */
#page-nav {
	position: fixed;
	background: white;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 1;
}

.nav-li {
	width: 25%;
	border-bottom: 5px solid #cdecfe;
	color:  #48bbfc;
	font-size: 1.5em;
	font-family: 'Pathway Gothic One', sans-serif;
}

.nav-a:focus, .nav-a:hover {
	background-color: transparent !important;
	color: #48bbfc;
	border: 1px solid transparent;
	border-color: transparent !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	background-color: transparent !important;
	color: #48bbfc !important;
	border-right: none !important;
	border-left: none !important;
	border-top: none !important;
}

.nav-tabs>li.active {
	/*border-bottom: 5px solid #48bbfc;*/
	height: 57px;
}
