/*
 * ALL
 */
html, body {
	height: 100%;
	width: 100%;
	display: block;
	margin: 0;
	background:
		url("../img/background.jpg")
		no-repeat
		fixed
		center
		0px / cover
		transparent;
}

*:focus {
	outline: none !important;
}

#content {
	position: relative;
	width: 100%;
}

section {
	width: 100%;
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	outline: none;
}

.section-header {
	font-family: 'Teko', sans-serif;
	font-weight: bold;
	font-size: calc(28px + 2vw + 1vh);
	margin: 0;
	color: #48bbfc;
	padding: 15px 0;
}

.info-section-container {
	margin: 0;
	background-color: white;
	border-top: 10px solid #cdecfe;
	border-bottom: 10px solid #cdecfe;
	overflow: auto;
	padding-bottom: 15px;
}

.info-section {
	  width: 100%;
	  text-align: center;
		padding: 50px 0;
}

.row {
 	height: 50px;
 	font-size: 1.25em;
   text-align: left;
   margin-bottom: 30px;
 }

/* TRANSITION/LANDING */
 .transition {
	margin: 0;
	height: 150px;
}

/* ----------- iPhone 5 and 5S ----------- */

	/* Portrait and Landscape */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2) {
 			 .section-header {
 				 font-size: calc(28px + 2vw + 4vh);
 			 }
		}

	/* Portrait */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {
		}

	/* Landscape */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {

		}

/* ----------- iPhone 6 ----------- */

  /* Portrait and Landscape */
    @media only screen and (min-device-width: 375px)
      and (max-device-width: 667px)
      and (-webkit-min-device-pixel-ratio: 2) {
    }

		/* Portrait */
		@media only screen
		  and (min-device-width: 375px)
		  and (max-device-width: 667px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {

		}

		/* Landscape */
	    @media only screen
	      and (min-device-width: 375px)
	      and (max-device-width: 667px)
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {

	    }

	/* ----------- iPhone 6+ ----------- */

	  /* Portrait and Landscape */
	    @media only screen
	      and (min-device-width: 414px)
	      and (max-device-width: 736px)
	      and (-webkit-min-device-pixel-ratio: 3) {

	    }

	  /* Portrait */
	    @media only screen
	      and (min-device-width: 414px)
	      and (max-device-width: 736px)
	      and (-webkit-min-device-pixel-ratio: 3)
	      and (orientation: portrait) {

	    }

	  /* Landscape */
	    @media only screen
	      and (min-device-width: 414px)
	      and (max-device-width: 736px)
	      and (-webkit-min-device-pixel-ratio: 3)
	      and (orientation: landscape) {

	    }
