
/*
 * NAVIGATION BAR
 */
#page-nav {
	position: fixed;
	background: white;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 1;
	min-height: 55px;
}

.nav-li {
	width: 20%;
	border-bottom: 5px solid #cdecfe;
	color:  #48bbfc;
	font-size: calc(16px + .5vw + .25vh);
	font-family: 'Pathway Gothic One', sans-serif;
	white-space: nowrap;
	min-height: 55px;
}

.nav-a:focus, .nav-a:hover {
	background-color: transparent !important;
	color: #48bbfc;
	border: 1px solid transparent;
	border-color: transparent !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	background-color: transparent !important;
	color: #48bbfc !important;
	border-right: none !important;
	border-left: none !important;
	border-top: none !important;
}

.nav-tabs>li.active {
	margin-top: 1px;
}

/* ----------- iPhone 5 and 5S ----------- */

	/* Portrait and Landscape */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2) {
        #page-nav {
          display: none
        }
		}

	/* Portrait */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {
		}

	/* Landscape */
		@media only screen
		  and (min-device-width: 320px)
		  and (max-device-width: 568px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {

		}

/* ----------- iPhone 6 ----------- */

  /* Portrait and Landscape */
    @media only screen and (min-device-width: 375px)
      and (max-device-width: 667px)
      and (-webkit-min-device-pixel-ratio: 2) {
        #page-nav {
          display: none
        }
    }

		/* Portrait */
		@media only screen
		  and (min-device-width: 375px)
		  and (max-device-width: 667px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {

		}

		/* Landscape */
	    @media only screen
	      and (min-device-width: 375px)
	      and (max-device-width: 667px)
	      and (-webkit-min-device-pixel-ratio: 2)
	      and (orientation: landscape) {

	    }

	/* ----------- iPhone 6+ ----------- */

	  /* Portrait and Landscape */
	    @media only screen
	      and (min-device-width: 414px)
	      and (max-device-width: 736px)
	      and (-webkit-min-device-pixel-ratio: 3) {

	    }

	  /* Portrait */
	    @media only screen
	      and (min-device-width: 414px)
	      and (max-device-width: 736px)
	      and (-webkit-min-device-pixel-ratio: 3)
	      and (orientation: portrait) {

	    }

	  /* Landscape */
	    @media only screen
	      and (min-device-width: 414px)
	      and (max-device-width: 736px)
	      and (-webkit-min-device-pixel-ratio: 3)
	      and (orientation: landscape) {

	    }
