#projects {
  font-family: 'Teko', sans-serif;
}

.project-section {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
}

.main {
  width: 40%;
  margin: 25px .75%;
}

.smaller {
  width: 28%;
  margin: 25px .75%;
}

.project-section-header {
	font-weight: bold;
	font-size: 2.4em;
	margin: 0;
	color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 0 10%;
  border-radius: 10px;
}

.project-section-pic-container {
}

.project-section-pic {
  height: 100px;
}

.project-section-title {
  font-family: 'Khand', sans-serif;
  font-size: calc(20px + 0.5vw + 0.25vh);
  font-weight: bold;
  color: #48bbfc;

}

.project-section-caption {
  font-family: 'Khand', sans-serif;
  color: #777;
  font-size: calc(18px + 0.3vw + 0.2vh);
  font-weight: lighter;
  padding: 0 5%;
}

.back {
  min-height: 120px;
}

a > svg:hover {
  fill: rgba(0,0,0,0.8);
}

@media only screen {
  .project-section {
	    width: 100%;
			margin: 2% 0;
      padding: 0;
		}
  .project-section-caption {
    padding: 1% 25%;
  }
}
