#projects {
  font-family: 'Teko', sans-serif;
}

.project-section {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 25px 0;
}

.main {
  width: 40%;
}

.smaller {
  width: 28%;
  margin: 0 .75%;
}

.project-section-header {
	font-weight: bold;
	font-size: 2.4em;
	margin: 0;
	color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 0 10%;
  border-radius: 10px;
}

.project-section-pic-container {
  height: 20%;
}

.project-section-pic {
  height: 100px;
}

.project-section-title {
  height: 25%;
  font-size: 2.3em;
  color: #48bbfc;
}

.project-section-caption {
  height: 55%;
  color: #777;
  font-size: 1.62em;
  font-weight: lighter;
  padding: 0 10%;
}
